<p-card class="table-card">
  <div class="table-container">
    <div class="table-header">
      <h2>Users Management</h2>
      <div class="search-container">
        <p-iconField iconPosition="left" class="search-field">
          <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
          <input 
            pInputText 
            type="text" 
            [value]="filter"
            (input)="onFilterChange($event)"
            placeholder="Search by name, email, organization..." />
        </p-iconField>
      </div>
    </div>

    <div class="table-content">
      <p-table 
        [value]="users" 
        [lazy]="true"
        [loading]="loading"
        [totalRecords]="total"
        [rows]="limit"
        [first]="(page - 1) * limit"
        [paginator]="false"
        [rowsPerPageOptions]="[10, 25, 50]"
        sortMode="single"
        (onLazyLoad)="onLazyLoad($event)"
        styleClass="p-datatable-striped"
        [totalRecords]="total"
        >
        
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="organizationName">
              Organization Name
              <p-sortIcon field="organizationName"></p-sortIcon>
            </th>
            <th pSortableColumn="firstName">
              First Name
              <p-sortIcon field="firstName"></p-sortIcon>
            </th>
            <th pSortableColumn="lastName">
              Last Name
              <p-sortIcon field="lastName"></p-sortIcon>
            </th>
            <th pSortableColumn="email">
              Email
              <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="lastLoggedIn">
              Last Logged In
              <p-sortIcon field="lastLoggedIn"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              Status
              <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="organization">
              Type
              <p-sortIcon field="organization"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{user.organizationName}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.lastLoggedIn | date:'short'}}</td>
            <td>
              <p-tag 
                [value]="user.status" 
                [severity]="getStatusSeverity(user.status)">
              </p-tag>
            </td>
            <td>
              <p-tag 
                [value]="user.organization | titlecase" 
                [severity]="getOrganizationSeverity(user.organization)">
              </p-tag>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="table-paginator">
      <p-paginator 
        [rows]="limit"
        [totalRecords]="total"
        [first]="(page - 1) * limit"
        [rowsPerPageOptions]="[10, 25, 50]"
        (onPageChange)="onLazyLoad($event)"
        >
      </p-paginator>
    </div>

  </div>
</p-card>