<div class="users-dashboard">
  <div class="dashboard-layout">
    <!-- Left Column (70%) -->
    <div class="left-column">
      <div class="loading-container" *ngIf="loading">
        <mat-spinner diameter="40"></mat-spinner>
        <p>Loading users...</p>
      </div>
      
      <app-users-table 
        *ngIf="!loading"
        [users]="users"
        [page]="currentPage"
        [limit]="pageSize"
        [filter]="currentFilter"
        [total]="totalUsers"
        [loading]="loading"
        (filterChange)="onFilterChange($event)"
        (lazyLoad)="onLazyLoad($event)">
      </app-users-table>
    </div>
    
    <!-- Right Column (30%) -->
    <div class="right-column">
      <app-status-donut-chart 
        [chartData]="currentChartData"
        [title]="currentChartData.title"
        [showToggle]="true"
        [toggleButtonText]="isVendorView ? 'Switch to Client View' : 'Switch to Vendor View'"
        (legendClick)="onChartLegendClick($event)"
        (toggleClick)="toggleChartView()">
      </app-status-donut-chart>
    </div>
  </div>
</div>